body{
    font-size: 11pt;
    font-family: 'Karla', sans-serif;
    padding: 0;
    margin: 0;
    background-image: url(img/colorfade.png);
    color: white;
}
#sitetitle{
    color: white;
    text-align: center;
    font-size: 3em;
}
.login{
    color: white;
    padding: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: #deff91;
    height: 380px;
    width: 15%;
    margin: auto;
    text-align: center;
}
.eingabefeld{
    border-style: solid;
    border-width: 2px;
    height: 8%;
    margin: 7px;
    padding: 5px;
    background-color: #a3d2ff;
}
.anzeige{
    font-size: 14pt
}
#submit{
    padding: 0;
    margin: 8px;
    height: 35px;
    width: 180px;
    border-style: ridge;
    border-width: 3px;
    border-color: black;
    background-color: #a3d2ff;
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}
#submit:hover {
  background-color: white;
}
#navigation{
    height: 50px;
    background: #b30000;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: 1;
}
#navigation a{
    margin: 0 2px;
    padding: 14px 16px;
    color: white;
    font-weight: bold;
    height: 10px;
}
.active, .btn:hover{
    border-bottom: 6px solid green;
}
.active, .btn2:hover{
    border-bottom: 6px solid green;
}
.btn{
    text-decoration: none;
    float: right;    
}
.btn2{
    text-decoration: none;
    float: left;
}
#welcomepic{
    height: auto;
    width: 35%;
    margin-left: 10px;
    display: block;
    position: relative;
    float: left;
    z-index: -1;
}
.infobox{
    position: relative;
    display: inline-block;
    width 65%;
    margin-left: 10px;
}
.infobox2{
    position: relative;
    display: inline-block;;
    margin: 0 10px;
    margin-top: 20px;
    width: 31%;
    height: 100%;
    border: 1px solid white;
    box-sizing: border-box;
    text-align: center;
}

#welcomebox{
    float: left;
    display: block;
    position: relative;
    margin-top: 20px;

}
.standarttext{
    text-align: center;
    color: white;
    display: inline-block;
    z-index: -1;
}.datenschutz_text{
    color: white;
    font-size: 14pt;
    display: inline-block;
    z-index: -1;
    margin 0 10px;

}
.mini_ueberschrift{
    text-align: center;
    color: white;
    font-size: larger;
    font-weight: bold;
}
#go_back{
    padding: 0;
    margin: 8px;
    height: 35px;
    width: 180px;
    border-style: ridge;
    border-width: 3px;
    border-color: black;
    background-color: #a3d2ff;
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}
.footer{
    text-align: center;
    height: 200px;
    background-color: #b7b7b7;  
}
.hr{
    margin-bottom: 20%;
}
.hr2{
    margin-top: 70px;
}
.footertext a{
    text-decoration: none;
    color: black;
}
.footertext a:hover{
    color: green;
}
.footertext{
    color: black;
    display: inline-block;
}
#entwickler{
    margin: 0px 20px 20px 10px;
    float: left;
    z-index: -1;
}
.entwickler_text{
    text-align: justify;
    color: white;
    margin-right: 10px;
    margin-left: 100px;
}
a{
    color:  white;
}
a:hover{
    color: green;
}
.datenschutz_box{
    margin: 0 10px;
}
#entwicklerbox{
    text-align: center;
    margin-right: 25%;
    margin-left: 25%
}