body{
    font-size: 11pt;
    font-family: 'Karla', sans-serif;
    padding: 0;
    margin: 0;
    background-image: url("img/colorfade.png");
    color: white;
}
#sitetitle{
    color: white;
    text-align: center;
    font-size: 3em;
}
#navigation{
    height: 50px;
    background: #b30000;
    position: fixed;
    top:0;
    overflow: hidden;
    width: 100%;
    z-index: 1;
}

#navigation a{
    margin: 0 2px;
    padding: 14px 16px;
    color: white;
    font-weight: bold;
    height: 10px;
}
.active, .btn:hover{
   border-bottom: 6px solid green;
}
.active, .btn2:hover{
  border-bottom: 6px solid green;
}
.btn{
    text-decoration: none;
    float: right;    
}
.btn2{
    text-decoration: none;
    float: left;
}
.login_daten_frame{
    color: white;
    padding: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: #deff91;
    height: 250px;
    width: 15%;
    margin: 0 auto;
    text-align: center;
}
.anzeige{
    font-size: 14pt
}
.submit{
    padding: 0;
    margin: 8px;
    height: 35px;
    width: 180px;
    border-style: ridge;
    border-width: 3px;
    border-color: black;
    background-color: #a3d2ff;
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}
.eingabefeld{
    border-style: solid;
    border-width: 2px;
    height: 8%;
    margin: 7px;
    padding: 5px;
    background-color: #a3d2ff;
}
.hr2{
    margin-top: 70px;
}
.hr{
    margin-bottom: 25%;
}
.footertext a{
    text-decoration: none;
    color: black;
}
.footertext{
    color: black;
    display: inline-block;
}
.footer{
    text-align: center;
    height: 200px;
    background-color: #b7b7b7;  
}
.footertext a:hover{
    color: green;
}